export("current_spiral_vp")
export("current_track_index")
export("get_track_data")
export("n_tracks")
export("phylo_to_dendrogame")
export("spiral_arrow")
export("spiral_axis")
export("spiral_barplot")
export("spiral_clear")
export("spiral_dendrogram")
export("spiral_highlight")
export("spiral_highlight_by_theta")
export("spiral_horizon")
export("spiral_info")
export("spiral_initialize")
export("spiral_lines")
export("spiral_opt")
export("spiral_phylo")
export("spiral_points")
export("spiral_polygon")
export("spiral_raster")
export("spiral_rect")
export("spiral_segments")
export("spiral_text")
export("spiral_track")
export("spiral_xaxis")
export("spiral_yaxis")
export("xy_to_cartesian")
export("xy_to_polar")

import("GlobalOptions")
import(GetoptLong)
import(grid)
import(methods)
importFrom("circlize", colorRamp2)
importFrom("grDevices", "col2rgb", "rgb")
importFrom("utils", "getFromNamespace")
importFrom(ComplexHeatmap, adjust_dend_by_x)
importFrom(stats, is.leaf, uniroot)

